.main-page-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 70px;
  height: 100vh;
  padding: 0 40px;

  header{
    display: flex;
    justify-content: space-between;
    .logo-name{
      display: flex;
      .name-text{
        padding-left: 40px;
        text-transform: uppercase;
        color: #01133B;
        font-family: "IBM Plex Mono SemiBold";
        font-size: 62px;
      }
    }
  }

  .btn-wrapper{
    display: flex;
    justify-content: space-between;
  }
}
