.map-section{
  width: 100%;
  padding: 0 40px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  background: #F1F4F9;

  .heading{
    display: flex;
    justify-content: flex-end;
  }
  .map-section{
    overflow: hidden;
    height: 700px;
    .map-item{
      width: 100%;
      height: 500px;
      transition: .2s;
      //transform: scale(1.2);
      .map-point{
        position: fixed;

        img{
          width: 1324px;
        }
      }
      .map-section-point{
        position: fixed;
      }
    }
  }
  .btns{
    display: flex;
    justify-content: center;
    gap: 20px;
    .plus-btn,
    .minus-btn{
      height: 50px;
      width: 50px;
      border-radius: 6px;
      background: #4DCDF8;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 50px;
      line-height: 50px;
      border: none;
    }
    .minus-btn{}
  }
}
