.map-section{
  width: 100%;
  padding: 0 40px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;

  .heading{
    display: flex;
    justify-content: flex-end;
  }
  .map-section{
    overflow: hidden;
    height: 500px;
    .map-item{
      width: 100%;
      height: 500px;
      .map-point{
        position: absolute;
        height: 500px;
      }
      .map-section-point{
        position: absolute;
        height: 500px;
      }
    }
  }
  .btns{
    display: flex;
    justify-content: center;
    gap: 20px;
    .plus-btn,
    .minus-btn{
      height: 50px;
      width: 50px;
      border-radius: 6px;
      background: #4DCDF8;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-size: 50px;
      line-height: 50px;
      border: none;
    }
    .minus-btn{}
  }
}
