.map-container{
  display: flex;

  .sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 600px;
    padding: 0 20px 40px 40px;
    height: 100vh;
    .heading{
      font-family: "IBM Plex Mono SemiBold";
      font-size: 62px;
      color: #01133B;
      text-transform: uppercase;
      line-height: 72px;
    }
    .caption{
      font-family: "Roboto Medium";
      font-size: 18px;
      color: rgba(1, 19, 59, 0.6);
    }
    .btn-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 12px;
    }
  }
}
