.sound-btn{
  height: 90px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, rgba(96,74,244,1) 0%, rgba(72,242,250,1) 100%);
  border: none;
  border-radius: 50%;
}