.zone-card{
  width: 100%;
  padding: 20px 40px;
  gap: 30px;
  border-radius: 12px;
  background: #F1F4F9;
  display: flex;
  align-items: center;

  .zone-card-number{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Medium';
    font-size: 32px;
    color: #01133B;
    border: 3px solid transparent;
    background: linear-gradient(45deg, rgba(96,74,244,1) 0%, rgba(72,242,250,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    .number-img{
      position: absolute;
    }
  }
  .zone-card-name{
    text-transform: uppercase;
    font-family: 'IBMPlexMono';
    font-size: 32px;
    color: #01133B;
  }
}
